.form {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  max-width: 510px;
  padding: 5px;
  font: normal normal 16px/20px Roboto, sans-serif;
}

.validation-message {
  color: #af0000;
}

.photo-upload {
  text-align: center;
  width: 200px;
}

.photo-upload > .field-label {
  cursor: pointer;
  height: 230px;
}

.photo-label {
  margin-bottom: -3px;
}

.photo-field {
  display: none;
}

.photo-upload > .validation-message  {
  padding-top: 5px;
}

.personal-data {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 280px;
}

.personal-data-input {
  display: flex;
  align-items: center;
  height: 26px;
}

.personal-data-input > .field {
  margin-left: auto;
  width: 170px;
}

.gender-choice {
  width: 170px;
  display: inline-block;
  overflow: hidden;
  margin-left: auto;
  border: none;
}

.gender-choice-item {
  display: inline-block;
}

.gender-field {
  display: none;
}

.gender-label {
  display: inline-block;
  padding: 0 19px;
  line-height: 20px;
  border: 1px solid #999;
  border-right: none;
  cursor: pointer;
  user-select: none;
}

.item-male .gender-label {
  border-radius: 5px 0 0 5px;
}

.item-female .gender-label {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #999;
}

.gender-field:checked + .gender-label{
  background: #c7c7c7;
}

.consent {
  display: flex;
  gap: 5px;
  width: 300px;
}

.submit {
  width: 100%;
  height: 30px;
  background-color: #c7c7c7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit:disabled {
  cursor: not-allowed;
}

.field {
  font: inherit;
  outline: none;
}
