.personal-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.personal-card {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 410px;
  background-color: #dcdcf5;
  border-radius: 5px;
}

.card-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.personal-card-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-label {
  font-weight: 700;
}