.section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.input {
  align-self: flex-end;
  width: 300px;
  padding: 5px 15px;
  font: normal normal 20px/30px Roboto, sans-serif;
  border-radius: 20px;
  outline: none;
  background: url('assets/svg/search.svg') no-repeat left 7px center;
  background-size: 20px 20px;
  padding-left:30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 300px;
  border-radius: 5px;
  background-color: rgb(149, 220, 223);
  padding: 0 0 5px;
}

.card-title {
  align-self: center;
}

.card-image {
  height: 444px;
  
}

.card-description,
.card-genres,
.card-numbers,
.card-author-info {
  padding: 0 5px;
}

.card-genres {
  margin-top: auto;
}

.card-genres > span {
  font-weight: 700;
}

.card-numbers {
  display: flex;
  gap: 5px;
}

.image-rating,
.image-voices {
  width: 20px;
}

.image-voices {
  margin-left: auto;
}

.card-author-info {
  display: flex;
  justify-content: space-between;
}