.section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.search-bar {
  align-self: flex-end;
  display: flex;
  width: 300px;
}

.search-input {
  padding: 5px 43px 5px 10px;
  font: normal normal 20px/30px Roboto, sans-serif;
  border-radius: 20px;
  outline: none;
  border: 2px solid #000000;
}

.search-button {
  height: auto;
  width: 44px;
  margin-left: -44px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 2px solid #000000;
  background: url('assets/svg/search.svg') no-repeat left 7px center;
  background-color: #b4b4b4;
  background-size: 20px 20px;
  cursor: pointer;
}

@media screen and (max-width: 634px) {
  .search-bar {
    align-self: center;
  }
}

.back-link {
  padding: 5px;
  border-radius: 3px;
  background-color: #b4b4b4;
  text-decoration: none;
  color: #000000;
}
