.image-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #acacac;
}

.image-info-image {
  max-width: 80vw;
  max-height: 80vh;
}

.image-info-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.image-info-user-info,
.image-info-image-info {
  display: flex;
  gap: 5px;
}

.image-info-image-info {
  flex-wrap: wrap;
}

.image-info-image-tags {
  margin-right: auto;
}

.image-info-user-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.image-info-image-counts {
  display: flex;
  gap: 5px 15px;
  align-items: center;
  flex-wrap: wrap;
}

.count-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.count-icon {
  height: 20px;
  width: 20px;
}

.image-info-close {
  position: absolute;
  top: -20px;
  right: -20px;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  cursor: pointer;
}
